<div class="controls controls-row">
    <span class="muted"><a href="/u/<%= locals.user.name %>"><%= locals.user.name %></a>,<a href="/u/<%= locals.user.name %>"><%= locals.user.name %></a></span>
    <span class="muted inline">于 <span><em><%= new Date() %></em></span> 在 <span><strong>小老虎</strong></span>花费 <span><strong class="text-error">120</strong></span></span>            
</div>
<p class="text-right"> By <span><strong class="text-info"><%= locals.user.name %></strong></span></p>
